# Server Configuration
PORT=5000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/shopping-mall-db

# MongoDB Atlas (클라우드 사용 시)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/shopping-mall-db?retryWrites=true&w=majority

# Authentication
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d

